.Content {
  margin-top: 0px;
  margin-left: 250px;
  transition: all 0.5s;
  position: relative;
  z-index: unset;
 
  transition: all 0.5s ease-in-out !important;
  /* background: #f8f9fa; */
  
}

.Padding{
  padding: 0 2em;
  padding-top: 2em;
}

:global main.sideActive {
  position: relative;
  margin-left: 60px !important;
  /* transition: all 0.5s ease-in-out !important; */
}

@media (min-width: 800px) {
  .Content {
    margin-left: 250px;    
  }
}

@media (max-width: 768px) {
  .Content {
    margin-left: 0 !important;    
  }

  .Padding{
    padding: 0 1em;
    padding-top: 2em;
  }
}